*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
    margin-right: 20px;
 } 


ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
}

ul li{
	display: inline-block;

}

ul li a{

	padding: 10px 30px;
	color: white;
	text-decoration: none;
	transition: 0.6s ease;
	font-family: "Roboto";

}

ul li a:hover{
	background-color: white;
	color: black;
}

ul li.active a{
	color: #white;
}

.main{
	box-shadow: 0 6px 12px -1px rgba(0,0,0,0.5);
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: grey; /* change to desired color */
}

.regis{
	width: 600px;
	height: 800px;
	background: white;
	box-shadow: 5px 15px 15px 6px rgba(0,0,0,0.5);

	margin-left:700px;
	margin-top: 50px;
}
.test{

	margin-left:20px;
}