*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
}

ul li{
	display: inline-block;

}

ul li a{

	padding: 10px 30px;
	color: white;
	text-decoration: none;
	transition: 0.6s ease;
	font-family: "Roboto";

}

ul li a:hover{
	background-color: white;
	color: black;
}

ul li.active a{
	color: #white;
}


.main{
	max-width: 1200px
	margin: auto;
}


body{
	background: #eee;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Helvetica", sans-serif, Arial ;
}

.container{

	width: 800px;
	display: flex;


	margin-left: 20px;
}

.left-side{
	position: left;

	width: 300px;
}

.left-side img{
	width: 295px;
	height: 450px;
	margin-left: -80px;
	margin-top: 60px;
	border: 5px solid white;
}

.right-side{
	position: relative;
	width: 300px;
	margin-top: 75px;
	margin-left: 30px;
}

.right-side h2{
	position: relative;
	width: -100px;
	font-size: 20px;
	font-weight: 600;
	color: #708090 ;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;


}

.right-side .name{
	width: 600px;
	height: 370px;
	background: white;
	box-shadow: 5px 15px 15px 6px rgba(0,0,0,0.5);
	margin-top: -10px;
	margin-left: -70px;

}

.right-side .name h1{
	padding: 22px 10px;
	font-size: 35px;
	font-weight: 700;
	color: 	#f08080;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: -5px;
	margin-top: 25px;

}


p{
	font-size: 15px;
	font-weight: 500;
	color: black;
	text-align: center;
	letter-spacing: 3.5px;
}

.icons{
	position: relative;
	margin-top: 60px;
	margin-left: 210px;


}

.icons .fa{
	width: 28px;
	height: 22px;
	padding: 15px;
	background: white ;
	border-radius: 50px;
	text-align: center;
	color: #708090;
	font-size: 20px;
	margin-left: 10px;
	text-decoration: none;
}

.icons .fa:hover {
	background: #f08080;
	color:white ;
	transition: 0.5s;
	cursor: pointer;
}

